body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #E0F8E6;
}

.quem-somos{
    background-color:#8181F7 ;
    color: white;
}

.margin{
   /* padding-top: 50px; O padding cria uma margem interna*/
    padding-bottom: 50px;
    padding-top: 10px;
    
}

.parceiros{
    background-color: #58FAFA;
}

.bg-footer{
    background-color: black;
    color: white;
}